<h1>Sign in</h1>

<form action="/sessions/create">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder = "name">
  <label for="password">Password:</label>
  <input id="password" type="password" placeholder="your password here" name="password">
  <input type="submit">
</form>