<h1><i><center>About Academic Challenge</center></i></h1>
<p> </p>
<p> </p>

<div class = "container">
    <div class = "row">
      <div class="col-md-3">
        <div style="background:rgba(0,255,255,0.1)" class="jumbotron">
          <h1>About Academic Challenge</h1>
          <p>Solon Academic Challenge is a dedicated club that takes part in quizbowl as well as Ohio Academic Challenge events. We have our practices every Tuesday and Friday from 3:30 to 5.</p>
          
        </div>
      </div>
  </div>
</div>

<h1> Officers</h1>