<h1>Making Information</h1>

<form action="/new_stats/new">
  <div>
    <label for="name">Grade</label><br />
    <input id="name" name="grade" placeholder="grade" type="integer" />
  </div>
  <div>
    <label for="points">Points</label><br />
    <input id="points" name="points" placeholder="points" type="text" />
  </div>
    <div>
    <label for="naqt_att">NAQT Tournaments Attended</label><br />
    <input id="naqt_att" name="naqt_att" placeholder="NAQT" type="text" />
  </div>
    <div>
    <label for="oac_att">OAC Tournaments Attended</label><br />
    <input id="oac_att" name="oac_att" placeholder="OAC" type="text" />
  </div>
    <div>
    <label for="pract_att">Practices Attended</label><br />
    <input id="pract_att" name="pract_att" placeholder="practices" type="text" />
  </div>
    <div>
    <label for="dues_paid">Dues Paid</label><br />
      <input id="dues_paid" name="dues_paid" placeholder="dues paid" type="text" />
  </div>
  <div>
    <label for="user_id">User Id</label><br />
      <input id="user_id" name="user_id" placeholder="userid" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


